
@use "sass:math";
@use "sass:list";

$purple: rgba(232, 121, 249, 0.30);
$blue: rgba(96, 165, 250, 0.22);
$green: rgba(94, 234, 212, 0.20);

$animationtime: 45s;
$length: 25;

body {
  overflow: hidden;
}

.rainbow {
  height: 100vh;
  width: 0;
  top: 0;
  position: absolute;
  transform: rotate(10deg);
  transform-origin: top right;
  @for $i from 1 through $length {
    &:nth-child(#{$i}) {
      $colors: 0;
      $r: math.random(6);
      @if $r == 1 {
        $colors: $purple, $blue, $green;
      }
      @if $r == 2 {
        $colors: $purple, $green, $blue;
      }
      @if $r == 3 {
        $colors: $green, $purple, $blue;
      }
      @if $r == 4 {
        $colors: $green, $blue, $purple;
      }
      @if $r == 5 {
        $colors: $blue, $green, $purple;
      }
      @if $r == 6 {
        $colors: $blue, $purple, $green;
      }
      box-shadow: -130px 0 80px 40px white, -50px 0 50px 25px list.nth($colors, 1),
        0 0 50px 25px list.nth($colors, 2), 50px 0 50px 25px list.nth($colors, 3),
        130px 0 80px 40px white;

      animation: #{math.div(math.div($animationtime, $length), 2) * $i}
        linear
        infinite
        slide;
      animation-delay: -#{math.div($i, $length) * $animationtime};
    }
  }
}
@keyframes slide {
  from {
    right: -25vw;
  }
  to {
    right: 125vw;
  }
}

.h {
  box-shadow: 0 0 50vh 40vh white;
  width: 100vw;
  height: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
.v {
  box-shadow: 0 0 35vw 25vw white;
  width: 0;
  height: 100vh;
  bottom: 0;
  left: 0;
  position: absolute;
}